[Desktop Entry]
Type=Application
Exec=crusta %u
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Categories=Network;WebBrowser;
Terminal=False
Version=2.0
Name=Crusta
Name[es]=Crusta
Name[ru]=Crusta
Comment=Access the internet
Comment[es]=Acceso a Internet
Comment[ru]=Доступ в Интернет
GenericName=Web Browser
GenericName[es]=Navegador Web
GenericName[ru]=Веб-браузер
Actions=New Window;New Incognito Window;
